.TurnDisplay {
    height: 11px;
    width: 100px;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 50%);
    border: solid 2px hsl(0, 0%, 90%);
    border-radius: 10px;

    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}

.TurnDisplay.circle {
    height: 12px;
    width: 60px;
    border: solid 4px hsl(30, 100%, 80%);
    background-color: hsl(30, 100%, 50%);
}

.TurnDisplay.cross {
    height: 12px;
    width: 60px;
    border: solid 4px hsl(266, 100%, 80%);
    background-color: hsl(266, 100%, 50%);
}

.TurnDisplay[data-haswin=true] {
    width: 100px;
}

/* .TurnDisplay:hover {
    min-height: 32px;
    min-width: 32px;
    border-color: white;
    border-radius: 10px;
    /*cursor: pointer;*//*
} 

.TurnDisplay:active {
    background-color: white;
}  */