.TurnDisplay {
    min-height: 30px;
    min-width: 30px;
    box-sizing: border-box;
    margin: 20px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
    border: solid 4px hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 30%);
}

.circle {
    border: solid 4px hsl(30, 100%, 80%);
    background-color: hsl(30, 100%, 50%);
}

.cross {
    border: solid 4px hsl(266, 100%, 80%);
    background-color: hsl(266, 100%, 50%);
}

/* .TurnDisplay:hover {
    min-height: 32px;
    min-width: 32px;
    border-color: white;
    border-radius: 10px;
    /*cursor: pointer;*//*
} 

.TurnDisplay:active {
    background-color: white;
}  */