.Restart {
    min-height: 30px;
    min-width: 30px;
    
    display: flex; 
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
    font-weight: 600;
    color: hsl(266, 50%, 70%);
    
    transition: all ease-in-out .5s;
}

.Restart:hover {
    font-size: 1.6rem;
    color: hsl(30, 50%, 50%);
    
}

