.App {
  height: 100vh;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-name {
  position: absolute;
  top: 0;
}

#game-name>span {
  color: hsl(266, 100%, 50%);
  font-style: italic;
  font-size: 2.4rem;
}

.Display {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 30px;
}
