.App {
  height: 100vh;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  position: absolute;
  top: 0;
  text-align: right;
}

#game-name {
  margin: 0;
}

#game-name>span {
  color: hsl(266, 100%, 50%);
  font-style: italic;
  font-size: 2.4rem;
}

#byLabel {
  color: white;
}

.Display {
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 30px;

  margin-bottom: 10px;
  width: 300px;
  min-height: 20px;
}