.GameBoard {
    box-sizing: border-box;
    /* box-shadow: 0px 0px 10px 1px hsl(240, 31%, 71%); */
    border-radius: 10px;
    border: none;

    background-color: hsl(240, 100%, 20%, 0%);

    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-auto-rows: 100px;
    gap: 3px;

    min-height: 20px;
    min-width: 20px;

    padding: 10px;
    border: solid 4px hsl(0, 0%, 80%);
    
}

.GameBoard[data-winner='circle'] {
    border: solid 4px hsl(30, 100%, 80%);
    background-color: hsl(30, 100%, 30%);
}

.GameBoard[data-winner='cross'] {
    border: solid 4px hsl(266, 100%, 80%);
    background-color: hsl(266, 100%, 30%);
}
